:root {
    --primary-color: rgb(46, 46, 46);
}

body {
    background-color: black;
}

.bg-black {
    color: white;
    background-color: black;
}

.nav-transparent {
    text-shadow: black 0px 0 10px;
}

.dropdown-item:hover {
    background-color: transparent;
    text-decoration: underline;
}

.landing-video {
    object-fit: cover;
    height: 50%;
}

.carousel-img {
    width: 100vw;
    height: 33vw;
    object-fit: contain;
}

.carousel-blurred-img {
    width: 100%;
    position: absolute;
    filter: blur(75px);
    background-color: black;
    object-fit: fill !important;
    z-index: -10;
}

/* Small devices (landscape phones, 576px and up) and Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {
    .landing-video {
        height: 75%;
    }
    h1 {
        font-size: 3rem !important;
    }
    h2 {
        font-size: 1.25rem !important;
    }
}
@media (min-width: 769px) {
    .dropdown-item:hover {
        background-color: black;
        transition: background-color 200ms linear;
        text-decoration: underline;
    }
}
