<div class="footer m-0 d-flex justify-content-center align-items-center flex-column pt-2">
    <div class="m-0 d-flex justify-content-center px-0" style="width: 100vw">
        <footer class="container row row-cols-1 row-cols-sm-2 row-cols-md-5 justify-content-around pt-5 px-0 m-0 text-center text-sm-left">
            <div class="col mb-5 mb-sm-0">
                <h5 class="text-white">About Us</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="/about_us/store_information.html" class="nav-link p-0 text-body-secondary">Store Information</a></li>
                    <li class="nav-item mb-2"><a href="/about_us/meet_the_owner.html" class="nav-link p-0 text-body-secondary">Meet the Owner</a></li>
                    <li class="nav-item mb-2"><a href="/about_us/faq.html" class="nav-link p-0 text-body-secondary">FAQ</a></li>
                    <li class="nav-item mb-2"><a href="/about_us/contact.html" class="nav-link p-0 text-body-secondary">Contact</a></li>
                </ul>
            </div>
            <div class="col mb-5 mb-sm-0">
                <h5 class="text-white">Products</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="/products/reverb_collection.html" class="nav-link p-0 text-body-secondary">Reverb Collection</a></li>
                    <li class="nav-item mb-2"><a href="/products/in_store_only.html" class="nav-link p-0 text-body-secondary">In Store Only</a></li>
                    <li class="nav-item mb-2"><a href="/products/rentals.html" class="nav-link p-0 text-body-secondary">Rentals</a></li>
                </ul>
            </div>
            <div class="col mb-5 mb-sm-0">
                <h5 class="text-white">Services</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="/services/repairs.html" class="nav-link p-0 text-body-secondary">Repairs</a></li>
                    <li class="nav-item mb-2"><a href="/services/lessons.html" class="nav-link p-0 text-body-secondary">Lessons</a></li>
                    <li class="nav-item mb-2"><a href="/services/trade_ins.html" class="nav-link p-0 text-body-secondary">Trade-Ins</a></li>
                </ul>
            </div>
            <div class="col mb-5 mb-sm-0">
                <ul class="nav flex-column">
                    <h5 class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary store">The Guitar Shop</a></h5>
                    <li class="nav-item mb-2"><a href="tel:7329429500" class="nav-link p-0 text-body-secondary">(732) 942-9500</a></li>
                    <li class="nav-item mb-2">
                        <a
                            href="https://www.google.com/maps/dir//5985+US-9,+Howell+Township,+NJ+07731/@40.1231118,-74.22319,17z/data=!4m8!4m7!1m0!1m5!1m1!1s0x89c17f582c6bffff:0xaad6109c1afa1085!2m2!1d-74.2206151!2d40.1231077?entry=ttu"
                            class="nav-link p-0 text-body-secondary"
                            >5985 U.S. 9 Howell Township, NJ 07731</a
                        >
                    </li>
                    <li class="nav-link p-0 text-body-secondary text-white">
                        <a>&copy; 2024 &nbsp;|&nbsp; <a href="https://michaelpeluso.github.io/">Michael Peluso</a></a>
                    </li>
                </ul>
            </div>
        </footer>
    </div>
    <a class="nav-link" href="/index.html"><img src="/Images/Icons/logo.png" class="zoom bi me-2 mb-4 pb-4" width="100" alt="The Guitar Shop Logo" /></a>
</div>
